$white : #ffffff;

$pork-green: #8fc9b3;
$pork-accent : #c03c00;

$dark-grey: #4C504E;
$light-grey : #f7f7f7;

$transparent-black-15: rgba(0,0,0,.15);
$transparent-black-25: rgba(0,0,0,.25);
    
$red : #E24941;
// vendor colours
    
$twitter-blue : #4099FF;
$facebook-blue : #3b5998;