body {
	font-family: "AW Conqueror Sans";
	font-size : 12pt;

	@media all and (min-width:500px) {
		font-size:14pt;
	}

	@media all and (min-width:1000px) {
		font-size:16pt;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
}

h1 {
    margin: 20px 0;
}
