footer {
    height:30px;
    line-height: 30px;
    font-size:8pt;
    background-color:$dark-grey;
    color:$white;
    padding : 0 $margin-mobile;
    position:absolute;
    left: 0;
    bottom:0;
    width: 100%;


}
