.fs__video {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -100; 
    //add a frame for first image!
    background-image:url(../assets/img/vid-frame.png) no-repeat;
}